.homepage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 100%;
}

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: black;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95); /* Darker overlay */
  z-index: 1; /* Place overlay above video */
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  position: relative;
  color: #ffffff;
  z-index: 2; /* Place content above overlay */
  padding: 20px;
}

.title
{
  color: #fad94b;
}

.hero-text {
  flex: 1;
  padding-right: 20px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 600;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.hero-text p {
  font-size: 1.2rem;
  max-width: 80%; /* Reduce width of paragraph */
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-btn {
  padding: 12px 24px;
  background-color: #fad94b;
  color: #161616;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-btn:hover {
  background-color: #17e4e2;
  transform: translateY(-2px);
}
