.my-account {
  width: 100%;
  min-height: 100%;
  background-color:#333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  font-family: 'Arial', sans-serif;
}

.my-account h2 {
  text-align: center;
  color: #fad94b; /* Title color */
  font-size: 2rem;
  margin-bottom: 20px;
}

.account-info {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.account-info p {
  font-size: 1.1rem;
  color: #333;
}

button {
  background-color: #fad94b; /* Primary button color */
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fcbf1e; /* Darker yellow on hover */
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

input[type="password"] {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

input[type="password"]:focus {
  border-color: #fad94b;
  outline: none;
}

p {
  font-size: 1rem;
  /* color: #4c4c4c; */
  text-align: center;
}

button[type="submit"] {
  background-color: #00bfae; /* Success color */
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #009f8c;
}

button[style="margin-top: 20px; color: red;"] {
  background-color: #ff4c4c; /* Logout button red color */
}

button[style="margin-top: 20px; color: red;"]:hover {
  background-color: #e40000;
}

p[style="color: green;"] {
  font-size: 1rem;
  color: green;
  text-align: center;
}
