.report-container {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e; /* Dark background */
  align-items: center;
  width: 100vw;
}

.interview-report {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #2c2c2c; /* Slightly lighter than background */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 50px;
  margin: 25px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #f1f1f1; /* Light color for headings */
}

.score-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: #f1f1f1; /* Light color for text */
}

.score-overview div {
  flex: 1;
  padding: 10px;
}

.improvement-section {
  margin-top: 30px;
  color: #f1f1f1; /* Light color for improvement section */
}

.improvement-section ul {
  list-style-type: disc;
  margin-left: 20px;
}

.improvement-section li {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.back-btn, .download-btn {
  width: 48%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  color: #fff; 
}

.back-btn {
  background-color: #fad94b;
}

.download-btn {
  background-color: #fad94b;
  color: #1e1e1e;

}

.back-btn:hover {
  background-color: #17e4e2;
  transform: translateY(-2px);
}

.download-btn:hover {
  background-color: #17e4e2;
  transform: translateY(-2px);
}

.question-section {
  margin-top: 30px;
  color: #f1f1f1; 
}

.question-category {
  margin-bottom: 15px;
}

.question-category h4 {
  color: #fad94b; 
  font-weight: bold;
  margin-bottom: 5px;
}

.question-category p {
  margin-left: 20px;
  color: #f1f1f1; 
}

.company-candidate-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.company-info {
  display: flex;
  align-items: center;
}

.report-company-logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.candidate-info p {
  margin: 5px 0;
  color: #f1f1f1; 
}

.pie-chart-container {
  width: 300px; /* Set the desired width */
  height: 300px; /* Set the desired height */
  margin: 0 auto; /* Center the chart */
  margin-left: 150px;
  margin-top: 75px;
}

.company-info
{
  color: #f1f1f1;
}